* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 10px 10px 10px;
    /* margin-right: -80px; */
  }
  
  /* Remove extra left and right margins, due to padding */
  .item-row {margin: 10px -3% 0px 10px;}
  
  /* Clear floats after the columns */
  .item-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .item-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 250px;
    height:350px;
  }

  .btn-view-item{
    float: left;
  }

  .btn-delete-item{
    float:right;
  }